@media (max-width: 1000px) {
  .col-4 {
    width: 50%;
  }
  .col-3 {
    width: 100%;
  }
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

@media (max-width: 670px) {
  .mobile-menu {
    display: block;
  }
  header ul {
    display: none;
  }
  .col-4 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
